[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
langchain-openai = "*"
langchain-core = "*"
pinecone = "*"
langsmith = "*"
python-dotenv = "*"
langchain-pinecone = "*"
supabase = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
